$colour1: #128482;
$colour2: #f8f8f8;
$colour3: #3b2f2f;

$font1: "Helvetica";
$font2: "Rockwell";

$margin1: 4px auto;

$padding1: 4px 3%;
$padding2: 4px;

* {
  box-sizing: border-box;
  color: $colour3;
  font-family: $font1;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: $colour2;
}

::-webkit-scrollbar-thumb {
  background-color: $colour1;
}

h1,
h2,
h3 {
  font-family: $font2;
  font-weight: 200;
}

.app {
}

.header,
.footer {
  background-color: $colour1;
  padding: $padding1;
  * {
    color: $colour2;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  .header-links {
    .header-link {
      font-size: 21px;
      margin: 0 6px;
    }
  }
}

.main {
  background-color: $colour2;
  max-height: 88vh;
  min-height: 88vh;
  overflow-y: scroll;
  padding: $padding1;
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    .product-card {
      border: 1px solid $colour3;
      padding: $padding2;
      width: 280px;
      img {
        width: 100%;
      }
    }
  }
}

.footer {
  height: 4vh;
  text-align: right;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  .product-card {
    margin: $margin1;
    .product-card-body {
      .product-card-name {
        text-align: left;
      }
      .product-card-description {
        font-size: 14px;
        padding: $padding1;
        text-align: justify;
      }
    }
    .product-card-price {
      font-size: 18px;
      text-align: right;
    }
  }
}
